<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<p>Hello World</p>

<ul>
    <% components_html_list.forEach(function(html_name) { %>
        <li>
            <a href="<%- html_name %>"><%- html_name %></a>
        </li>
    <% }); %>
</ul>
</body>
</html>